/*
Theme Name: goldfish
Description: goldfish, vigilianty theme.
Version: 1.0
Author: vigilianty
Author URI: http://www.vigilianty.com/
*/

/* begin Page */

/* created by vigilianty, file checksum is 0BC6CDA0. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #7A7A7A;
	background-image: url('images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

#art-page-background-glare
{
	position: absolute;
	width: 100%;
	height: 369px;
	left: 0;
	top: 0;
}

#art-page-background-glare-image
{
	background-image: url('images/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 369px;
	width: 376px;
	margin: 0;
}

html:first-child #art-page-background-glare
{
	border: 1px solid transparent; /* Opera fix */
}


#art-page-background-gradient
{
	position: absolute;
	background-image: url('images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 900px;
	
}

#art-page-background-gradient
{
	background-position: top left;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:87px;
	min-height:87px;
}

.art-Sheet-body
{
	position: relative;
	z-index:1;
	padding: 5px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 86px;
	height: 86px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 43px, 43px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 43px, 43px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(43px, 43px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(43px, auto, auto, 43px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 43px;
	right: 43px;
	height: 86px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 43px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(43px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 43px;
	bottom: 43px;
	width: 86px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 43px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 43px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 43px;
	left: 43px;
	right: 43px;
	bottom: 43px;
	background-image: url('images/Sheet-c.png');
}


.art-Sheet
{
	margin-top: 50px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 990px;
	height: 175px;
}

div.art-Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 990px;
	height: 175px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 990px;
	height: 175px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 266px;
	top: 10px;
	width: 714px;
}

h1.art-Logo-name
{
	display: block;
	text-align: center;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
	font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #E5E5E5 !important;
}

.art-Logo-text
{
	display: block;
	text-align: center;
}

.art-Logo-text, .art-Logo-text a
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #080808 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





div.art-nav-center
{
	position:relative;
	float:right; 
	right:50%;
	
}

ul.art-menu
{
	position:relative;
	float:left; 
	left:50%;
}


/* menu structure */

.art-menu
{
	padding: 4px 2px 0px 2px;
}

.art-nav
{
	position: relative;
	height: 33px;
	z-index: 100;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 33px;
	background-image: url('images/nav.png');
}

.art-nav .l
{
	left: 0;
	right:0px;
}

.art-nav .r
{
	right: 0;
	width: 990px;
	clip: rect(auto, auto, auto, 990px);
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 29px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 87px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:13px;
}

.art-menu a .r
{
	width:426px;
	right:0;
	clip: rect(auto, auto, auto, 413px);
}

.art-menu a .t 
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #D4D4D4;
	padding: 0 10px;
	margin: 0 13px;
	line-height: 29px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-29px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-29px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-29px;
}
.art-menu a:hover .t
{
	color: #242424;
}

.art-menu li:hover a .t
{
	color: #242424;
}

.art-menu li:hover>a .t
{
	color: #242424;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -58px;
}

.art-menu a.active .t
{
	color: #CFCFCF;
}


/* end MenuItem */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #383838;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #F5F5F5;
	background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
	color: #F5F5F5;
	background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #F5F5F5;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #F5F5F5;
}


/* end MenuSubItem */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 15px;
	width: 990px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:19px;
	min-height:19px;
}

.art-Block-body
{
	position: relative;
	z-index:1;
	padding: 15px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 18px;
	height: 18px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 9px, 9px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 9px, 9px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(9px, 9px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(9px, auto, auto, 9px);
}

.art-Block-tc, .art-Block-bc
{
	left: 9px;
	right: 9px;
	height: 18px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 9px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(9px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 9px;
	bottom: 9px;
	width: 18px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 9px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 9px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 9px;
	left: 9px;
	right: 9px;
	bottom: 9px;
	background-color: #363636;
}


.art-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 8px;
	margin-bottom: 7px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 8px;
	line-height: 30px;	
}

.art-BlockHeader .t h2.subject
{
	height: 30px;
	color: #000000;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 8px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.art-BlockHeader .l, .art-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.art-BlockHeader .l
{
	left:0;
	right:7px;
}

.art-BlockHeader .r
{ 
	width:990px;
	right:0;
	clip: rect(auto, auto, auto, 983px);
}





.art-header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 31px;
	background-repeat: no-repeat;
	min-height: 23px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 12px;
}



.art-BlockContent-body
{
	color:#F0F0F0;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.art-BlockContent-body a:link
{
	color: #FF160A;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #FDF92B;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #9AF623;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #C4C4C4;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	text-decoration: none;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}


.art-BlockContent-body .calendar-calendar td a:visited, .art-BlockContent-body .calendar-calendar td a.visited
{
	color: #FF160A;
}

.art-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.art-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.art-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.art-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.art-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index:1;
	padding: 10px;
}



.art-Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	border: solid 1px #A6A6A6;
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #FDF92B;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #E0E0E0;
}

.art-PostHeaderIcon-wrapper, .art-PostHeaderIcon-wrapper a, .art-PostHeaderIcon-wrapper a:link, .art-PostHeaderIcon-wrapper a:visited, .art-PostHeaderIcon-wrapper a:hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #E0E0E0;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  color: #CFCFCF;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  color: #E0E0E0;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  color: #FDE091;
}
/* end PostHeader */

/* begin PostMetadata */
.art-PostMetadataHeader
{
	padding:1px;
	background-color: #E0E0E0;
	border-color: #C7C7C7;
	border-style: solid;
	border-width: 1px;
}
/* end PostMetadata */

/* begin PostIcons */
.art-PostHeaderIcons
{
	padding:1px;
}

.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
}

.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	margin:0;
}

.art-PostHeaderIcons a:link
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #FF160A;
}

.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #FDF92B;
}

.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #9AF623;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #030303;
}

.art-PostContent
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #030303;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #FF160A;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #FF160A;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #FDF92B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #9AF623;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #ADADAD;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #C7C7C7;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #C7C7C7;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #F5F5F5;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #F5F5F5;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #F5F5F5;
}
/* Finish Content headings Fonts & Colors  */

.art-PostContent .calendar-calendar ul li, .art-PostContent .calendar-calendar ol ul li,
.art-PostContent div.view div.views-admin-links ul li, .art-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.art-PostContent ul.arttabs_primary li, .art-PostContent ul.arttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #E0E0E0;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#0F0F0F;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #C7C7C7; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#E0E0E0;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin PostMetadata */
.art-PostMetadataFooter
{
	padding:1px;
	background-color: #E0E0E0;
	border-color: #C7C7C7;
	border-style: solid;
	border-width: 1px;
}
/* end PostMetadata */

/* begin PostIcons */
.art-PostFooterIcons
{
	padding:1px;
}

.art-PostFooterIcons, .art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

.art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	margin:0;
}

.art-PostFooterIcons a:link
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #4D4D4D;
}

.art-PostFooterIcons a:visited, .art-PostFooterIcons a.visited
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
	color: #4D4D4D;
}

.art-PostFooterIcons a:hover, .art-PostFooterIcons a.hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #C89404;
}
/* end PostIcons */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:36px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 36px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 36px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 26px !important;
	line-height: 36px;
	text-decoration: none !important;
	color: #000000 !important;
}

input, select
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #000000 !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FEF7E1 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 108px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:18px;
}

.art-button-wrapper .r
{
	width:425px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -36px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -72px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 990px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}



.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 32px;
	width: 32px;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#D6D6D6;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #FF160A;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #FDF92B;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #9AF623;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#FBCB46;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#A1A1A1;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 247px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 495px;
}
.art-contentLayout .art-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 742px;
}
.art-contentLayout .art-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 742px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 989px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 247px;
}
/* end LayoutCell */



/*
** HTML elements
*/
#footer
{
	text-align: center;
}

ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	background-image: none;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.arttabs_primary li a, ul.arttabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

ul.menu li a.active
{
	font-weight: bold;
}

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid ;
	width: 95%;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

.form-text, .form-textarea
{
	width: 95%;
	text-align: left;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

.messages li
{
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}

.BlockContent
{
	width: 100% !important;	
}
